body{
    margin:0;
    font-family:segoe UI;
    background:#f3f4f6;
}
/* NAVBAR */
nav{
    background:#0f172a;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 6%;
}
nav .logo{
    color:#38bdf8;
    font-size:20px;
    font-weight:bold;
}
nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}
nav a:hover{
    color:#38bdf8;
}
/* CART BOX */
.Cart-box{
    text-align:center;
    margin-top:80px;
    background:white;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1)
}
.cart-box h2{
    color:#0f172a;
}
.cart-box p{
    color:#64748b;
    margin-top:10px;
}
/* BUTTON */
button{
    margin-top:15px;
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}
button:hover{
    background:#1e40af;
}