body{
    margin:0;
    font-family:segoe UI;
    background:#f3f4f6;
}
/* NAVBAR */
nav{
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 6%;
}
nav.logo{
    color:#38bdf8;
    font-size:20px;
    font-weight:bold;
}
nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}
nav a:hover{
    color:#38bdf8;
}
/* CONTACT BOX */
.Contact-box{
    width:320px;
    margin:60px auto;;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}
.contact-box h2{
    text-align:center;
    color:#0f172a;
}
input , textarea{
    width:100;
    margin-top:15px;
    padding: 10px;border:
    1px solid #ccc;
    border-radius:8px;
    font-size:14px;
}
button{
    margin-top:15px;
    width:100%;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
button:hover{
    background:#1e40af;
}